//覆盖默认变量

//导入var.scss文件
@import 'var';

//iconfont
@font-face {font-family: "iconfont";
  src: url('../css/iconfont/iconfont.eot?t=1506234148883');
  src: url('../css/iconfont/iconfont.eot?t=1506234148883#iefix') format('embedded-opentype'),
  url('../css/iconfont/iconfont.ttf?t=1506234148883') format('truetype'),
  url('../css/iconfont/iconfont.svg?t=1506234148883#iconfont') format('svg'); 
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before { content: "\e619"; }

.icon-rencan:before { content: "\e620"; }

.icon-yunyingzhuanqu:before { content: "\e6a3"; }

.icon-jiaonang:before { content: "\e61b"; }

.icon-jiadiantiwenji:before { content: "\e9ba"; }

.icon-ximiannai:before { content: "\e626"; }

.icon-tingzhenqi-copy:before { content: "\e6c2"; }

.icon-home:before { content: "\e600"; }

.icon-huluobu:before { content: "\e64a"; }

.icon-yanjing:before { content: "\e63a"; }

.icon-jiantou-copy:before { content: "\e603"; }

.icon-arrow-down:before { content: "\e601"; }

.icon-shoudongfeijibei:before { content: "\e508"; }

.icon-jiantou0101:before { content: "\e701"; }

.icon-jiantou0101-copy:before { content: "\e604"; }

.icon-jiantou1:before { content: "\e502"; }

.icon-diqiu:before { content: "\e621"; }

.icon-cart--copy:before { content: "\e507"; }

.icon-pingzi:before { content: "\e678"; }


#header{
	height:274px;border-bottom:2px solid #D2B994;
	%ir{width:7px;height:4px; background:url(img/common_sprite.png) no-repeat -163px 0;vertical-align:middle;}
	.h_top{
		background:#F1F1F1;font-size:12px;color:#5E5E5E;padding-left:4px;
		.left{
			position:relative;
			p{
				padding-top:12px;height:38px;
				span{padding:0 5px 0 10px;font-weight:bold;}
				i{@extend %ir}
			}
			&:hover p{background:#fff;}
			.province{
				position:absolute;left:0;display:none;z-index:1;
				ul{
					background:#fff;border:1px solid #E5E5E5;border-top:0 none;padding:10px;width:300px;
					li{
						margin:5px 0;
						span{color:#A5A5A5;font-weight:bold;}
						a{
							margin:0 8px;
							&:hover{color:$hoverColor;text-decoration:underline;}
						}
					}
				}
			}
		}
		.right>ul{
			&>li{
				float:left;height:38px;padding-top:12px;
				&>a{padding:0 10px;border-right:1px solid #E0E0E0;color:#5E5E5E;}
				&:first-child a.login{border:0 none;padding:0;color:#E54948;}
				&:nth-child(3){
					position:relative;
					&>a i{
						@extend %ir;
						margin-left:5px;
					}
					ul{
						background:#fff;position:absolute;top:38px;display:none;border:1px solid #ddd;border-top:0 none;
						li{
							padding:4px 4px 4px 10px;
							&:hover{background:#eee;}
						}
					}
					&:hover{background:#fff;}
					&:hover ul{display:block;}
				}

				&:nth-child(5) span{color:#C7A774;font-weight:bold;padding:0 10px;border-right:1px solid #E0E0E0;}
				&:last-child>a{
					border:0 none;
					i{width:9px;height:13px;background:url(img/common_sprite.png) no-repeat -164px -112px;margin-right:5px;vertical-align:middle;}
				}
				&:first-child{
					.unLogin{
						a:first-child:hover{text-decoration:underline;}
						a:last-child:hover{color:$hoverColor;text-decoration:underline;}
					}
					.yetLogin{
						display:none;
						a{
							color:$mainColor;
							&:hover{text-decoration:underline;}
						}
					}
				}
				
				@for $i from 2 through 6{
					&:nth-child(#{$i}):hover>a{color:$hoverColor;text-decoration:underline;}
				}
			}
		}
	}
	.h_main{
		height:130px;padding-left:32px;padding-top:26px;
		.logo a{display:block;width:180px;height:61px;background:url(img/logo_01.png) no-repeat;float:left;margin-right:90px}
		.middle{
			float:left;margin-right:90px;
			p.int{
				width:533px;padding:8px 0;
				input{width:452px;height:46px;border:1px solid #C7A774;padding-left:10px;float:left;font-size:16px;}
				button{
					display:inline-block;width:80px;height:46px;border:1px solid #C7A774;border-left:0 none;float:left;position:relative;background:#fff;cursor:pointer;
					i{width:21px;height:20px;background:url(img/search.png)}
				}
			}
			p.hot{
				font-size:12px;
				a{
					color:#5E5E5E;margin-right:16px;
					&:hover{color:#e20;text-decoration:underline;}
				}
			}
		}
		.tdCode img{width:100px;}
		.car a{
			display:inline-block;width:140px;height:38px;border:1px solid #EEE;text-align:center;line-height:38px;color:#5E5E5E;font-size:14px;position:relative;
			i.carico{
				width:16px;height:16px;background:url(img/common_sprite.png) no-repeat -10px -323px;position:absolute;left:12px;top:12px;font-style:normal;
				span{width:16px;height:16px;border-radius:50%;background:#FF0000;color:#fff;text-align:center;line-height:16px;font-weight:bold;position:absolute;top:-8px;right:-8px;}
			}
			i.rightArrow{width:5px;height:9px;position:absolute;top:12px;right:20px;background:url(img/common_sprite.png) no-repeat -167px -326px;}
		}
	}
	#nav{
		height:46px;
		.nav_left{
			width:180px;
			&>a{
				display:block;height:46px;width:180px;background:#19323A;padding-left:14px;line-height:46px;color:#fff;font-size:14px;position:relative;
				i{position:absolute;top:3px;right:8px;}
			}
			ul{
				background:#314349;display:none;
				li{
					position:relative;
					a{padding-left:48px;height:40px;line-height:40px;font-size:12px;color:#fff;}
					i{position:absolute;color:#fff;left:16px;top:11px;font-size:18px;}
					&:hover{background:#fff;}
					&:hover a{color:#314349;padding-left:53px;}
					&:hover i{color:#314349;left:21px;}
				}
				
			}
		}
		.nav_right{
			padding-right:30px;
			ul.one{
				&>li{
					float:left;
					&>a{display:block;height:46px;padding:0 16px;line-height:46px;color:#505050;}
					&:nth-child(9){
						a{
							color:#894EFF;
							i{margin-right:5px;}
						}
					}
					&:last-child{
						position:relative;
						a i{@extend %ir;margin-left:10px;}
						ul.two{
							position:absolute;z-index:1000;width:122px;
							background:#fff;border:1px solid #ddd;display:none;border-top:0 none;
							li a{display:block;padding-left:16px;font-size:14px;line-height:25px;}
							li:hover{background:#eee;}
							li:hover a{color:#4090CD;text-decoration:underline;}
						}
					}
				}
				&>li:hover>a{text-decoration:underline;}
			}
		}
	}
}

#asideR{
	width:52px;position:fixed;right:20px;bottom:10px;
	ul{
		li{
			a{
				display:block;position:relative;height:52px;cursor:pointer;
				i{
					width:52px;height:52px;background:url(img/common_sprite.png) no-repeat 0 -622px;position:absolute;font-style:normal;
					b{width:16px;height:16px;border-radius:50%;background:#FF0000;color:#fff;text-align:center;line-height:16px;position:absolute;top:8px;right:8px;}
				}
				span{width:52px;height:52px;font-size:18px;background:#E72419;color:#fff;text-align:center;position:absolute;display:none;}
			}
			&:nth-child(2) a i{background-position:0 -674px;}
			&:nth-child(3) a i{background-position:0 -776px;}
			&:nth-child(4) a i{background-position:0 -827px;}
			&:hover a span{display:block;}
		}
	}
}

#footer{
	.promise{
		height:180px;background:#F0F0F0;padding:38px 75px 0 75px;margin-bottom:50px;
		li{
			float:left;width:235px;height:113px;background:url(img/icon_gonggaob.png) no-repeat -8px -2px;margin-right:50px;
			&:nth-child(2){background-position:-364px -2px;}
			&:nth-child(3){background-position:-698px -2px;}
			&:last-child{background-position:-990px -2px;margin-right:0;}
		}
	}
	.online{
		margin-bottom:30px;
		ul{
			height:148px;display:flex;justify-content:space-between;
			li{
				width:383px;background:#F0F0F0;padding:20px 0 0 40px;
				i{width:110px;height:110px;float:left;margin-right:20px;background:url(img/TDCode3.fw.png) no-repeat 0 0;}
				.r{
					float:left;
					h4{font-size:22px;color:#D5AD74;margin-bottom:8px;}
					p{font-size:12px;color:#707070;line-height:18px;}
				}
				&:nth-child(2) i{background-position:-110px 0;}
				&:nth-child(3) i{background-position:-220px 0;}
			}
		}
	}
	.server{
		height:236px;padding-left:44px;
		dl{
			float:left;width:144px;
			dt{font-size:18px;color:#5E5E72;margin-bottom:14px;font-weight:bold;}
			dd a{line-height:24px;font-size:12px;color:#B2A2C2;}
			dd:hover a{color:$hoverColor;text-decoration:underline;}
		}
		.tel{
			border-left:1px solid #ddd;padding-left:76px;padding-top:18px;float:left;
			b{display:block;font-size:18px;color:#C7A774;margin-bottom:16px;}
			p.time{font-size:12px;color:#999;}
			span{@extend p.time;padding-left:24px;}
		}
	}
	.links{
		ul{
			display:flex;justify-content:center;
			li{
				a{padding:0 10px;border-right:1px solid #666;font-size:12px;color:#666;}
				&:last-child a{border:0 none;}
				&:hover a{text-decoration:underline;}
				&:last-child:hover a{text-decoration:none;}
			}
		}
		.link3 ul{
			justify-content:space-around;margin-top:14px;
			li{
				a{border:0 none;display:inline-block;width:100px;height:40px;background:url(img/outherLogo.png) no-repeat 0 0}
				@for $i from 2 through 10{
					$x:-(110 * ($i - 1));
					&:nth-child(#{$i}) a{background-position:#{$x}px 0;}
				}
			}
		}
	}
	.final{
		margin:28px 0 50px 0;
		p{font-size:12px;text-align:center;color:#5E5E5E;}
		p.last{
			margin-top:16px;
			i{width:20px;height:20px;background:url(img/copy_ico.png) no-repeat;}
		}
	}	
}