
@import 'var';

.container{width:990px;}

#logo{
	h1{margin-left:10px;}
}
#main{
	 margin-bottom:50px;
	 .container{
	 	border-top:2px solid #0099F1;box-shadow:-5px 10px 10px 0 #ddd;position:relative;
	 }
	 .right{
	 	width:400px;
	 	.tab ul{
	 		border-bottom:1px solid #E2E2E2;
	 		li{
	 			float:left;width:200px;height:45px;padding:10px 0;
	 			a{
	 				display:block;text-align:center;color:$fontColor;cursor:pointer;
	 				&:hover{color:$mainColor;}
	 			}
	 			&:first-child a{border-right:1px solid #E2E2E2;}
	 			&.active{border-bottom:2px solid $mainColor;}
	 		}
	 	}
	 	.hi{
	 		h4{float:left;font-size:16px;color:$fontColor;font-weight:normal;line-height:50px;}
	 		span{
	 			float:right;font-size:12px;color:$fontColor;line-height:50px;margin-right:20px;
	 			a{color:#0083CE;&:hover{text-decoration:underline;}}
	 		}
	 	}
	 	.form{
	 		&>div{
	 			height:70px;position:relative;
	 			#username{width:340px;height:40px;padding-left:40px;background:url(img/regest.png) no-repeat 8px -115px;border:1px solid #E6E6E6;}
	 			#pass{@extend #username;background-position:8px -147px;}
	 		}
	 		%ir{width:12px;height:12px;background:url(img/regest.png) no-repeat -1px -1px;position:absolute;right:10px;top:14px;}
	 		%ar{font-size:12px;line-height:30px;color:#f00;}
	 		.passW{
	 			.pass_tip{@extend %ar;display:none;}
	 			a{
	 				float:right;font-size:13px;color:#0083CE;margin-right:55px;
	 				&:hover{text-decoration:underline;}
	 			}
	 		}
	 		.VCode{
	 			#vCode{width:170px;height:40px;border:1px solid #E6E6E6;padding-left:10px;}
	 			#showCode{width:104px;height:40px;line-height:40px;text-align:center;font-size:20px;}
	 			.vCode_true{@extend %ir;right:240px;top:18px;display:none;}
	 			.vCode_false{@extend %ir;right:240px;top:18px;background-position:-1px -28px;height:13px;display:none;}
	 			.vCode_tip{@extend %ar;}
	 		}
	 		.auto{
	 			font-size:14px;height:26px;
	 			input{margin-right:5px;vertical-align:middle;}
	 			label{vertical-align:middle;color:$fontColor;}
	 		}
	 		#submit{height:38px;background:#0099F1;line-height:38px;text-align:center;color:#fff;width:340px;border:0 none;cursor:pointer;}
	 	}
	 	.content2{display:none;color:#f60;}

	 	.other_login{
	 		margin-top:24px;
	 		p{font-size:12px;color:$fontColor;line-height:22px;}
	 		ul{
	 			height:62px;display:flex;justify-content:space-between;
	 			li{
	 				width:38px;
	 				a{display:block;width:40px;height:40px;background:url(img/img_zhifu.png) no-repeat 0 0}
	 				@for $i from 1 through 6{
	 					$x:-48 * ($i - 1);
	 					&:nth-child(#{$i}) a{background-position:#{$x}px 0};
	 				}
	 				&:hover{
	 					@for $i from 1 through 6{
	 						$x:-48 * ($i - 1);
	 						&:nth-child(#{$i}) a{background-position:#{$x}px -52px};
	 					}
	 				}
	 			}
	 		}
	 	}
	 }
}