
@import 'var';

.container{width:990px;}

#logo{
	h1{margin-left:10px;}
}
#main{
	 margin-bottom:50px;
	.container{
		border-top:2px solid #0099F1;padding:20px 0 0 50px;box-shadow:-5px 10px 10px 0 #ddd;position:relative;
		.left{
			width:390px;
			h4{font-size:20px;color:$fontColor;font-weight:normal;}
			#form{
				padding:20px 0 0 50px;
				&>div{
					height:70px;position:relative;
					#username{width:340px;height:40px;padding-left:40px;background:url(img/regest.png) no-repeat 8px -115px;border:1px solid #E6E6E6;}
					#pass,#repass{@extend #username;background-position:8px -147px;}
				}
				%ir{width:12px;height:12px;background:url(img/regest.png) no-repeat -1px -1px;position:absolute;right:10px;top:14px;}
				%ar{font-size:12px;line-height:30px;color:#f00;}
				.tel{
					.tel_true{@extend %ir;display:none;}
					.tel_empty{@extend %ir;background-position:-1px -60px;display:none;}
					.tel_tip{@extend %ar;}
				}
				.passW{
					.pass_true{@extend %ir;display:none;}
					.pass_exp{@extend %ar;color:$fontColor;}
					.pass_tip{@extend %ar;display:none;}
					.safe{
						@extend %ar;position:absolute;top:40px;right:0px;color:$fontColor;display:none;
						span{display: inline-block;width: 50px;height: 14px;border:1px solid #666;text-align: center;line-height: 12px;font-size:12px;color:blue;background: #ccc;}
					}
				}
				.rePass{
					.repass_true{@extend %ir;display:none;}
					.repass_tip{@extend %ar;}
				}
				.VCode{
					#vCode{width:170px;height:40px;border:1px solid #E6E6E6;padding-left:10px;}
					#showCode{width:104px;height:40px;line-height:40px;text-align:center;font-size:20px;}
					.vCode_true{@extend %ir;right:180px;top:18px;display:none;}
					.vCode_false{@extend %ir;right:180px;top:18px;background-position:-1px -28px;height:13px;display:none;}
					.vCode_tip{@extend %ar;}
				}
				.Agree{
					font-size:14px;height:26px;
					input{margin-right:5px;vertical-align:middle;}
					label{vertical-align:middle;color:$fontColor;}
					a{font-size:12px;color:#0083CE;}
				}
				#submit{height:38px;background:#0099F1;line-height:38px;text-align:center;color:#fff;width:340px;border:0 none;cursor:pointer;}
			}
			.other_login{
				margin-top:24px;padding-left:50px;
				p{font-size:12px;color:$fontColor;line-height:22px;}
				ul{
					height:62px;display:flex;justify-content:space-between;
					li{
						width:38px;
						a{display:block;width:40px;height:40px;background:url(img/img_zhifu.png) no-repeat 0 0}
						@for $i from 1 through 6{
							$x:-48 * ($i - 1);
							&:nth-child(#{$i}) a{background-position:#{$x}px 0};
						}
						&:hover{
							@for $i from 1 through 6{
								$x:-48 * ($i - 1);
								&:nth-child(#{$i}) a{background-position:#{$x}px -52px};
							}
						}
					}
				}
			}
		}
		.right{
			width:500px;
			p{
				text-align:right;font-size:12px;color:$fontColor;padding-right:20px;
				a{
					color:#0099F1;padding:0 5px;
					&:hover{text-decoration:underline;}
				}
			}
			img{position:absolute;right:0;bottom:0;}
		}
	}
}

#popup{
	width:300px;height:100px;border:2px solid #f60;background:rgba(230,330,120,.8);padding-top:10px;display:none;position:absolute;
	h4{font-size:28px;text-align:center;color:#58bc58;}
	p{
		text-align:center;margin-top:15px;font-size:18px;
		a{color:#00f;text-decoration:underline;}
	}
	span{position:absolute;top:0;right:0;width:20px;height:20px;cursor:pointer;text-align:center;line-height:20px;}
	span.hover{background:#fc0;}
}