@charset "UTF-8";
/*
	存放全局变量
*/
@font-face { font-family: "iconfont"; src: url("../css/iconfont/iconfont.eot?t=1506234148883"); src: url("../css/iconfont/iconfont.eot?t=1506234148883#iefix") format("embedded-opentype"), url("../css/iconfont/iconfont.ttf?t=1506234148883") format("truetype"), url("../css/iconfont/iconfont.svg?t=1506234148883#iconfont") format("svg"); }

.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-jiantou:before { content: "\e619"; }

.icon-rencan:before { content: "\e620"; }

.icon-yunyingzhuanqu:before { content: "\e6a3"; }

.icon-jiaonang:before { content: "\e61b"; }

.icon-jiadiantiwenji:before { content: "\e9ba"; }

.icon-ximiannai:before { content: "\e626"; }

.icon-tingzhenqi-copy:before { content: "\e6c2"; }

.icon-home:before { content: "\e600"; }

.icon-huluobu:before { content: "\e64a"; }

.icon-yanjing:before { content: "\e63a"; }

.icon-jiantou-copy:before { content: "\e603"; }

.icon-arrow-down:before { content: "\e601"; }

.icon-shoudongfeijibei:before { content: "\e508"; }

.icon-jiantou0101:before { content: "\e701"; }

.icon-jiantou0101-copy:before { content: "\e604"; }

.icon-jiantou1:before { content: "\e502"; }

.icon-diqiu:before { content: "\e621"; }

.icon-cart--copy:before { content: "\e507"; }

.icon-pingzi:before { content: "\e678"; }

#header { height: 274px; border-bottom: 2px solid #D2B994; }

#header .h_top .left p i, #header .h_top .right > ul > li:nth-child(3) > a i, #header #nav .nav_right ul.one > li:last-child a i { width: 7px; height: 4px; background: url(img/common_sprite.png) no-repeat -163px 0; vertical-align: middle; }

#header .h_top { background: #F1F1F1; font-size: 12px; color: #5E5E5E; padding-left: 4px; }

#header .h_top .left { position: relative; }

#header .h_top .left p { padding-top: 12px; height: 38px; }

#header .h_top .left p span { padding: 0 5px 0 10px; font-weight: bold; }

#header .h_top .left:hover p { background: #fff; }

#header .h_top .left .province { position: absolute; left: 0; display: none; z-index: 1; }

#header .h_top .left .province ul { background: #fff; border: 1px solid #E5E5E5; border-top: 0 none; padding: 10px; width: 300px; }

#header .h_top .left .province ul li { margin: 5px 0; }

#header .h_top .left .province ul li span { color: #A5A5A5; font-weight: bold; }

#header .h_top .left .province ul li a { margin: 0 8px; }

#header .h_top .left .province ul li a:hover { color: #0083CE; text-decoration: underline; }

#header .h_top .right > ul > li { float: left; height: 38px; padding-top: 12px; }

#header .h_top .right > ul > li > a { padding: 0 10px; border-right: 1px solid #E0E0E0; color: #5E5E5E; }

#header .h_top .right > ul > li:first-child a.login { border: 0 none; padding: 0; color: #E54948; }

#header .h_top .right > ul > li:nth-child(3) { position: relative; }

#header .h_top .right > ul > li:nth-child(3) > a i { margin-left: 5px; }

#header .h_top .right > ul > li:nth-child(3) ul { background: #fff; position: absolute; top: 38px; display: none; border: 1px solid #ddd; border-top: 0 none; }

#header .h_top .right > ul > li:nth-child(3) ul li { padding: 4px 4px 4px 10px; }

#header .h_top .right > ul > li:nth-child(3) ul li:hover { background: #eee; }

#header .h_top .right > ul > li:nth-child(3):hover { background: #fff; }

#header .h_top .right > ul > li:nth-child(3):hover ul { display: block; }

#header .h_top .right > ul > li:nth-child(5) span { color: #C7A774; font-weight: bold; padding: 0 10px; border-right: 1px solid #E0E0E0; }

#header .h_top .right > ul > li:last-child > a { border: 0 none; }

#header .h_top .right > ul > li:last-child > a i { width: 9px; height: 13px; background: url(img/common_sprite.png) no-repeat -164px -112px; margin-right: 5px; vertical-align: middle; }

#header .h_top .right > ul > li:first-child a:first-child:hover { text-decoration: underline; }

#header .h_top .right > ul > li:first-child a:last-child:hover { color: #0083CE; text-decoration: underline; }

#header .h_top .right > ul > li:nth-child(2):hover > a { color: #0083CE; text-decoration: underline; }

#header .h_top .right > ul > li:nth-child(3):hover > a { color: #0083CE; text-decoration: underline; }

#header .h_top .right > ul > li:nth-child(4):hover > a { color: #0083CE; text-decoration: underline; }

#header .h_top .right > ul > li:nth-child(5):hover > a { color: #0083CE; text-decoration: underline; }

#header .h_top .right > ul > li:nth-child(6):hover > a { color: #0083CE; text-decoration: underline; }

#header .h_main { height: 130px; padding-left: 32px; padding-top: 26px; }

#header .h_main .logo a { display: block; width: 180px; height: 61px; background: url(img/logo_01.png) no-repeat; float: left; margin-right: 90px; }

#header .h_main .middle { float: left; margin-right: 90px; }

#header .h_main .middle p.int { width: 533px; padding: 8px 0; }

#header .h_main .middle p.int input { width: 452px; height: 46px; border: 1px solid #C7A774; padding-left: 10px; float: left; font-size: 16px; }

#header .h_main .middle p.int button { display: inline-block; width: 80px; height: 46px; border: 1px solid #C7A774; border-left: 0 none; float: left; position: relative; background: #fff; cursor: pointer; }

#header .h_main .middle p.int button i { width: 21px; height: 20px; background: url(img/search.png); }

#header .h_main .middle p.hot { font-size: 12px; }

#header .h_main .middle p.hot a { color: #5E5E5E; margin-right: 16px; }

#header .h_main .middle p.hot a:hover { color: #e20; text-decoration: underline; }

#header .h_main .tdCode img { width: 100px; }

#header .h_main .car a { display: inline-block; width: 140px; height: 38px; border: 1px solid #EEE; text-align: center; line-height: 38px; color: #5E5E5E; font-size: 14px; position: relative; }

#header .h_main .car a i.carico { width: 16px; height: 16px; background: url(img/common_sprite.png) no-repeat -10px -323px; position: absolute; left: 12px; top: 12px; font-style: normal; }

#header .h_main .car a i.carico span { width: 16px; height: 16px; border-radius: 50%; background: #FF0000; color: #fff; text-align: center; line-height: 16px; font-weight: bold; position: absolute; top: -8px; right: -8px; }

#header .h_main .car a i.rightArrow { width: 5px; height: 9px; position: absolute; top: 12px; right: 20px; background: url(img/common_sprite.png) no-repeat -167px -326px; }

#header #nav { height: 46px; }

#header #nav .nav_left { width: 180px; }

#header #nav .nav_left > a { display: block; height: 46px; width: 180px; background: #19323A; padding-left: 14px; line-height: 46px; color: #fff; font-size: 14px; position: relative; }

#header #nav .nav_left > a i { position: absolute; top: 3px; right: 8px; }

#header #nav .nav_left ul { background: #314349; display: none; }

#header #nav .nav_left ul li { position: relative; }

#header #nav .nav_left ul li a { padding-left: 48px; height: 40px; line-height: 40px; font-size: 12px; color: #fff; }

#header #nav .nav_left ul li i { position: absolute; color: #fff; left: 16px; top: 11px; font-size: 18px; }

#header #nav .nav_left ul li:hover { background: #fff; }

#header #nav .nav_left ul li:hover a { color: #314349; padding-left: 53px; }

#header #nav .nav_left ul li:hover i { color: #314349; left: 21px; }

#header #nav .nav_right { padding-right: 30px; }

#header #nav .nav_right ul.one > li { float: left; }

#header #nav .nav_right ul.one > li > a { display: block; height: 46px; padding: 0 16px; line-height: 46px; color: #505050; }

#header #nav .nav_right ul.one > li:nth-child(9) a { color: #894EFF; }

#header #nav .nav_right ul.one > li:nth-child(9) a i { margin-right: 5px; }

#header #nav .nav_right ul.one > li:last-child { position: relative; }

#header #nav .nav_right ul.one > li:last-child a i { margin-left: 10px; }

#header #nav .nav_right ul.one > li:last-child ul.two { position: absolute; z-index: 1000; width: 122px; background: #fff; border: 1px solid #ddd; display: none; border-top: 0 none; }

#header #nav .nav_right ul.one > li:last-child ul.two li a { display: block; padding-left: 16px; font-size: 14px; line-height: 25px; }

#header #nav .nav_right ul.one > li:last-child ul.two li:hover { background: #eee; }

#header #nav .nav_right ul.one > li:last-child ul.two li:hover a { color: #4090CD; text-decoration: underline; }

#header #nav .nav_right ul.one > li:hover > a { text-decoration: underline; }

#asideR { width: 52px; position: fixed; right: 20px; bottom: 10px; }

#asideR ul li a { display: block; position: relative; height: 52px; cursor: pointer; }

#asideR ul li a i { width: 52px; height: 52px; background: url(img/common_sprite.png) no-repeat 0 -622px; position: absolute; font-style: normal; }

#asideR ul li a i b { width: 16px; height: 16px; border-radius: 50%; background: #FF0000; color: #fff; text-align: center; line-height: 16px; position: absolute; top: 8px; right: 8px; }

#asideR ul li a span { width: 52px; height: 52px; font-size: 18px; background: #E72419; color: #fff; text-align: center; position: absolute; display: none; }

#asideR ul li:nth-child(2) a i { background-position: 0 -674px; }

#asideR ul li:nth-child(3) a i { background-position: 0 -776px; }

#asideR ul li:nth-child(4) a i { background-position: 0 -827px; }

#asideR ul li:hover a span { display: block; }

#footer .promise { height: 180px; background: #F0F0F0; padding: 38px 75px 0 75px; margin-bottom: 50px; }

#footer .promise li { float: left; width: 235px; height: 113px; background: url(img/icon_gonggaob.png) no-repeat -8px -2px; margin-right: 50px; }

#footer .promise li:nth-child(2) { background-position: -364px -2px; }

#footer .promise li:nth-child(3) { background-position: -698px -2px; }

#footer .promise li:last-child { background-position: -990px -2px; margin-right: 0; }

#footer .online { margin-bottom: 30px; }

#footer .online ul { height: 148px; display: flex; justify-content: space-between; }

#footer .online ul li { width: 383px; background: #F0F0F0; padding: 20px 0 0 40px; }

#footer .online ul li i { width: 110px; height: 110px; float: left; margin-right: 20px; background: url(img/TDCode3.fw.png) no-repeat 0 0; }

#footer .online ul li .r { float: left; }

#footer .online ul li .r h4 { font-size: 22px; color: #D5AD74; margin-bottom: 8px; }

#footer .online ul li .r p { font-size: 12px; color: #707070; line-height: 18px; }

#footer .online ul li:nth-child(2) i { background-position: -110px 0; }

#footer .online ul li:nth-child(3) i { background-position: -220px 0; }

#footer .server { height: 236px; padding-left: 44px; }

#footer .server dl { float: left; width: 144px; }

#footer .server dl dt { font-size: 18px; color: #5E5E72; margin-bottom: 14px; font-weight: bold; }

#footer .server dl dd a { line-height: 24px; font-size: 12px; color: #B2A2C2; }

#footer .server dl dd:hover a { color: #0083CE; text-decoration: underline; }

#footer .server .tel { border-left: 1px solid #ddd; padding-left: 76px; padding-top: 18px; float: left; }

#footer .server .tel b { display: block; font-size: 18px; color: #C7A774; margin-bottom: 16px; }

#footer .server .tel p.time, #footer .server .tel span { font-size: 12px; color: #999; }

#footer .server .tel span { padding-left: 24px; }

#footer .links ul { display: flex; justify-content: center; }

#footer .links ul li a { padding: 0 10px; border-right: 1px solid #666; font-size: 12px; color: #666; }

#footer .links ul li:last-child a { border: 0 none; }

#footer .links ul li:hover a { text-decoration: underline; }

#footer .links ul li:last-child:hover a { text-decoration: none; }

#footer .links .link3 ul { justify-content: space-around; margin-top: 14px; }

#footer .links .link3 ul li a { border: 0 none; display: inline-block; width: 100px; height: 40px; background: url(img/outherLogo.png) no-repeat 0 0; }

#footer .links .link3 ul li:nth-child(2) a { background-position: -110px 0; }

#footer .links .link3 ul li:nth-child(3) a { background-position: -220px 0; }

#footer .links .link3 ul li:nth-child(4) a { background-position: -330px 0; }

#footer .links .link3 ul li:nth-child(5) a { background-position: -440px 0; }

#footer .links .link3 ul li:nth-child(6) a { background-position: -550px 0; }

#footer .links .link3 ul li:nth-child(7) a { background-position: -660px 0; }

#footer .links .link3 ul li:nth-child(8) a { background-position: -770px 0; }

#footer .links .link3 ul li:nth-child(9) a { background-position: -880px 0; }

#footer .links .link3 ul li:nth-child(10) a { background-position: -990px 0; }

#footer .final { margin: 28px 0 50px 0; }

#footer .final p { font-size: 12px; text-align: center; color: #5E5E5E; }

#footer .final p.last { margin-top: 16px; }

#footer .final p.last i { width: 20px; height: 20px; background: url(img/copy_ico.png) no-repeat; }
