@charset "UTF-8";
/*
	存放全局变量
*/
.container { width: 990px; }

#logo h1 { margin-left: 10px; }

#main { margin-bottom: 50px; }

#main .container { border-top: 2px solid #0099F1; padding: 20px 0 0 50px; box-shadow: -5px 10px 10px 0 #ddd; position: relative; }

#main .container .left { width: 390px; }

#main .container .left h4 { font-size: 20px; color: #5E5E5E; font-weight: normal; }

#main .container .left #form { padding: 20px 0 0 50px; }

#main .container .left #form > div { height: 70px; position: relative; }

#main .container .left #form > div #username, #main .container .left #form > div #pass, #main .container .left #form > div #repass { width: 340px; height: 40px; padding-left: 40px; background: url(img/regest.png) no-repeat 8px -115px; border: 1px solid #E6E6E6; }

#main .container .left #form > div #pass, #main .container .left #form > div #repass { background-position: 8px -147px; }

#main .container .left #form .tel .tel_true, #main .container .left #form .tel .tel_empty, #main .container .left #form .passW .pass_true, #main .container .left #form .rePass .repass_true, #main .container .left #form .VCode .vCode_true, #main .container .left #form .VCode .vCode_false { width: 12px; height: 12px; background: url(img/regest.png) no-repeat -1px -1px; position: absolute; right: 10px; top: 14px; }

#main .container .left #form .tel .tel_tip, #main .container .left #form .passW .pass_exp, #main .container .left #form .passW .pass_tip, #main .container .left #form .passW .safe, #main .container .left #form .rePass .repass_tip, #main .container .left #form .VCode .vCode_tip { font-size: 12px; line-height: 30px; color: #f00; }

#main .container .left #form .tel .tel_true { display: none; }

#main .container .left #form .tel .tel_empty { background-position: -1px -60px; display: none; }

#main .container .left #form .passW .pass_true { display: none; }

#main .container .left #form .passW .pass_exp { color: #5E5E5E; }

#main .container .left #form .passW .pass_tip { display: none; }

#main .container .left #form .passW .safe { position: absolute; top: 40px; right: 0px; color: #5E5E5E; display: none; }

#main .container .left #form .passW .safe span { display: inline-block; width: 50px; height: 14px; border: 1px solid #666; text-align: center; line-height: 12px; font-size: 12px; color: blue; background: #ccc; }

#main .container .left #form .rePass .repass_true { display: none; }

#main .container .left #form .VCode #vCode { width: 170px; height: 40px; border: 1px solid #E6E6E6; padding-left: 10px; }

#main .container .left #form .VCode #showCode { width: 104px; height: 40px; line-height: 40px; text-align: center; font-size: 20px; }

#main .container .left #form .VCode .vCode_true { right: 180px; top: 18px; display: none; }

#main .container .left #form .VCode .vCode_false { right: 180px; top: 18px; background-position: -1px -28px; height: 13px; display: none; }

#main .container .left #form .Agree { font-size: 14px; height: 26px; }

#main .container .left #form .Agree input { margin-right: 5px; vertical-align: middle; }

#main .container .left #form .Agree label { vertical-align: middle; color: #5E5E5E; }

#main .container .left #form .Agree a { font-size: 12px; color: #0083CE; }

#main .container .left #form #submit { height: 38px; background: #0099F1; line-height: 38px; text-align: center; color: #fff; width: 340px; border: 0 none; cursor: pointer; }

#main .container .left .other_reg { margin-top: 24px; padding-left: 50px; }

#main .container .left .other_reg p { font-size: 12px; color: #5E5E5E; line-height: 22px; }

#main .container .left .other_reg ul { height: 62px; display: flex; justify-content: space-between; }

#main .container .left .other_reg ul li { width: 38px; }

#main .container .left .other_reg ul li a { display: block; width: 40px; height: 40px; background: url(img/img_zhifu.png) no-repeat 0 0; }

#main .container .left .other_reg ul li:nth-child(1) a { background-position: 0px 0; }

#main .container .left .other_reg ul li:nth-child(2) a { background-position: -48px 0; }

#main .container .left .other_reg ul li:nth-child(3) a { background-position: -96px 0; }

#main .container .left .other_reg ul li:nth-child(4) a { background-position: -144px 0; }

#main .container .left .other_reg ul li:nth-child(5) a { background-position: -192px 0; }

#main .container .left .other_reg ul li:nth-child(6) a { background-position: -240px 0; }

#main .container .left .other_reg ul li:hover:nth-child(1) a { background-position: 0px -52px; }

#main .container .left .other_reg ul li:hover:nth-child(2) a { background-position: -48px -52px; }

#main .container .left .other_reg ul li:hover:nth-child(3) a { background-position: -96px -52px; }

#main .container .left .other_reg ul li:hover:nth-child(4) a { background-position: -144px -52px; }

#main .container .left .other_reg ul li:hover:nth-child(5) a { background-position: -192px -52px; }

#main .container .left .other_reg ul li:hover:nth-child(6) a { background-position: -240px -52px; }

#main .container .right { width: 500px; }

#main .container .right p { text-align: right; font-size: 12px; color: #5E5E5E; padding-right: 20px; }

#main .container .right p a { color: #0099F1; padding: 0 5px; }

#main .container .right p a:hover { text-decoration: underline; }

#main .container .right img { position: absolute; right: 0; bottom: 0; }

#popup { width: 300px; height: 100px; border: 2px solid #f60; background: rgba(230, 255, 120, 0.8); padding-top: 10px; display: none; position: absolute; }

#popup h4 { font-size: 28px; text-align: center; color: #58bc58; }

#popup p { text-align: center; margin-top: 15px; font-size: 18px; }

#popup p a { color: #00f; text-decoration: underline; }

#popup span { position: absolute; top: 0; right: 0; width: 20px; height: 20px; cursor: pointer; text-align: center; line-height: 20px; }

#popup span.hover { background: #fc0; }
